<template>
  <div class="final-screen">
      <h3>Game over</h3>
      <h3>Your score: {{score}}</h3>
      <button class="btn" @click="$router.push({name: 'welcome'})">BACK TO START</button>
      <br>
      <br>
      <br>
      <div class="finImg">
          <img v-if="score > 300" src="https://media3.giphy.com/media/2A3dU95kNHZzG3Tanu/giphy.gif">
          <img v-else src="https://wwwcache.wralsportsfan.com/asset/voices/2017/01/10/16420553/happy_game_show-500x255.gif">
      </div>
  </div>
</template>

<script>
export default {
    created() {
        this.score = sessionStorage.getItem('score');
    },
    data(){
        return{
             score: 0
        }
    },
}
</script>

<style>
.btn {
  background-color: #4682B4; 
  border: 1px;
  color: white;
  border-radius: 6px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 20%;
  transition-duration: 0.4s;
}

.btn:hover {
    background-color: #000080;
    color: white;
}
</style>