<template>
  <div class="trivia">
      <div class="trivia-score">
          <h3>Score {{score}}</h3>
      </div>
      <div class="trivia-category">
          <h5 class="category" v-if="qs != null">{{qs[index].category}}</h5>
      </div>
      <div class="trivia-question">
          <h3 class="question" v-if="qs != null" v-html="qs[index].question"></h3>
      </div>
      <div class="trivia-answers">
          <div class="answers" v-for="answer of ans[index]" :key = "answer">
            <button class="btn" v-html="answer" v-on:click="clickedAnswer(answer)"></button>
          </div>
      </div>
  </div>
</template>

<script>
import {getAllQuestions} from '../api/questions';
import router from '../router/view'
//Importing api, and router. 

//Function for shuffeling the answers 
function shuffle(array) {
  array.sort(() => Math.random() - 0.5);
}

export default {
    name: 'Questions',
    async created() {
        //Getting data from api, putting answers in array, and shuffles.
        this.qs = await getAllQuestions();
        for(let i = 0; i < this.qs.length; i++){
            this.ans[i] = [...this.qs[i].incorrect_answers, this.qs[i].correct_answer];
            shuffle(this.ans[i]);
        }
    }, 
    data (){
        return{
            qs: null,
            ans:[], 
            index: 0,
            score: 0
        }
    }, 
    methods: {
        clickedAnswer(answer) {
            //if finished all qs, go to final view.
            if(this.index == this.qs.length-1){
                sessionStorage.setItem('score', this.score);
                router.push('final');
            }
            //if correct answer, add 100 to score.
            if(answer == this.qs[this.index].correct_answer){
                console.log("Correct answer");
                this.score += 100;
            }
            this.index ++;  
        }
    }
}
</script>

<style>
.btn {
  background-color: #4682B4; 
  border: 1px;
  color: white;
  border-radius: 6px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 40%;
  transition-duration: 0.4s;
  margin: 2px;
}

.btn:hover {
    background-color: #000080;
    color: white;
}
</style>
