<template>
  <div class="welcome-page">
      <h1>Welcome to Trivia!</h1>
      <button class="btn" @click="$router.push('trivia')">PRESS TO PLAY</button>
      <div class="gif">
          <img src="https://3.bp.blogspot.com/-LKMBmHgDzJQ/W3yspYxxuyI/AAAAAAAPjjI/R_W2mEBPdsQBvy1-ZBi1hzNh0c1slIu2wCLcBGAs/s1600/AW1592901_04.gif">
      </div>
  </div>
</template>

<script>

export default {
}
</script>

<style>
.btn {
  background-color: #4682B4; 
  border: 1px;
  color: white;
  border-radius: 6px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 20%;
  transition-duration: 0.4s;
}

.btn:hover {
    background-color: #000080;
    color: white;
}
</style>