<template>
  <div id="app">
    <img alt="Vue logo" src="https://upload.wikimedia.org/wikipedia/en/2/27/Trivia.png">
    <router-view/>
  </div>
</template>

<script>

export default {
  name: 'App',
  components: {
  }, 
  data(){
    return{
      
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

html {
  background-color: #F4A460;
}

#app img{
  width: 40%;
}
</style>
